*.iml
*.ipr
*.ipw
target
*.iws
*.DS_Store
out
.idea
logs
.*.swp
logger.xml
*~
.cache
.classpath
.project
.settings
atlassian-ide-plugin.xml
*.log.gz
*.log
.DS_Store
solutions.scala
makeSlides.py
.DS_Store
notes.scala